
@font-face {
  font-family: 'Maple';
  src: url('/fonts/Maple.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 推荐：提高加载体验 */
}

@font-face {
  font-family: 'Maple';
  src: url('/fonts/MapleBold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
  font-display: swap; /* 推荐：提高加载体验 */
}

@font-face {
  font-family: 'Maple';
  src: url('/fonts/MapleItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap; /* 推荐：提高加载体验 */
}

@font-face {
  font-family: 'Maple';
  src: url('/fonts/MapleBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap; /* 推荐：提高加载体验 */
}

body {
  font-family: 'Maple', monospace !important;
}

#site-info {
  top: 30% !important;
}

#site-info-card {
  background: var(--card-bg);
  border-radius: 20px;
  box-shadow: var(--card-box-shadow);
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
#site-info-avatar {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}
#site-info-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#site-info-table a {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  
}